doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title #{title} - Express MongoDB API
    link(rel="stylesheet", href="/css/style.css")
  body
    header.header
      .container
        h1.logo Express MongoDB API
        nav.nav
          ul.nav-list
            li.nav-item
              a(href="/") Home
            li.nav-item
              a(href="/admin") Admin
            li.nav-item
              a(href="/api/users") Users API
            li.nav-item
              a(href="/api/products") Products API
    
    main.main
      .container
        block content
    
    footer.footer
      .container
        p &copy; #{new Date().getFullYear()} Express MongoDB API. All rights reserved.